#imagen1 {
    border: thick solid white;
    width: 400px;
    height: 300px;
}

#imagen2 {
    border: thick solid white;
    width: 400px;
    height: 300px;
}

#imagen3 {
    border: thick solid white;
    width: 300px;
    height: 200px;
}

#imagen4 {
    border: thick solid white;
    width: 300px;
    height: 200px;
}

#imagen5 {
    border: thick solid white;
    width: 300px;
    height: 200px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap-reverse;
}